{% extends "base.html" %}

{% block content %}
<p class='pull-right'>
Other Views: <a href="">Gallery</a> / <a href="">List</a>
</p>
  {% for object in object_list %}
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="thumb" src="{{ object.photo_url }}" alt="" /></a>
  </div>
  <div class="media-body">

    <h4 class="media-heading">{{object.title}}    ${{object.price}} </h4>
      <small>{{object.body}}</small>
      <small><em>{{object.location}}</em></small>
      <small><em>Posted: {{object.created}}</em></small>
      <br>
      <br>
  </div>
</div>

  {% endfor %}
{% endblock %}
