{% extends "base.html" %}


{% block content %}
<div class="btn-group" id='right' role="group" aria-label="">
    <a type="button" class="btn btn-default" href="{% url 'category_list_gallery_view' category_id %}">Gallery View</a>
    <a type="button" class="btn btn-default" href="{% url 'category_list_list_view' category_id %}">List View</a>
</div>


<div class="btn-group"  role="group" aria-label="">
  <a type="button" class="btn btn-default" href="{% url 'category_list_thumbnail_view' category_id %}?sort=-created">Sort Date</a>
  <a type="button" class="btn btn-default" href="{% url 'category_list_thumbnail_view' category_id %}?sort=price">Sort Price: Low/High</a>
  <a type="button" class="btn btn-default" href="{% url 'category_list_thumbnail_view' category_id %}?sort=-price">Sort Price High/Low</a>
<br>
<br>
</div>

<br>
  {% for object in object_list %}

    <div class="media">
      <div class="media-left">
        <a class='thumb' href="{% url 'listing_detail_view' object.pk %}">
          <img class="media-object" id='thumb' src="{{object.photo_url}}" alt="">
        </a>
      </div>

    <div class="media-body">
        <h4 class="media-heading" id='inline'>{{object.title}}</h4>
        <h4 class='media-heading' id='inline' style="float:right">${{object.price}}</h4>
        <br>
        <br>
        <p><small>{{object.body}}</small></p>
        <small><em>{{object.location}}</em></small>
        <small><em>Posted: {{object.created}}</em></small>
      </div>
    </div>
<hr>
    {% endfor %}

    </div>
  </div>
<hr>

{% endblock %}
