{% extends "base.html" %}
{% block view %}
{% endblock %}

{% block content %}
  <div class="row">
    {% for object in object_list %}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class='gallery' src="{{ object.photo_url }}" alt="">
        <div class="caption">
          <h3>{{object.title}}</h3>
          <div>${{object.price}} </div><div>{{object.location}}</div><div> Posted: {{object.created}} </div>
          <a href="Details" class="btn btn-default" role="button">Details</a></p>
        </div>
      </div>
    </div>

  {% endfor %}

{% endblock %}
