{% extends "base.html" %}

{% block content %}
<div class="btn-group" id='right' role="group" aria-label="">
    <a type="button" class="btn btn-default" href="{% url 'city_list_thumbnail_view' city_id %}">Thumbnail View</a>
    <a type="button" class="btn btn-default" href="{% url 'city_list_list_view' city_id %}">List View</a>
</div>


<div class="btn-group"  role="group" aria-label="">
  <a type="button" class="btn btn-default" href="{% url 'city_list_gallery_view' city_id %}?sort=-created">Sort Date</a>
  <a type="button" class="btn btn-default" href="{% url 'city_list_gallery_view' city_id %}?sort=price">Sort Price: Low/High</a>
  <a type="button" class="btn btn-default" href="{% url 'city_list_gallery_view' city_id %}?sort=-price">Sort Price High/Low</a>
<br>
<br>
<br>
</div>


  <div class="row">
    {% for object in object_list %}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class='gallery' src="{{ object.photo_url }}" alt="">
        <div class="caption">
          <h3>{{object.title}}</h3>
          <div>${{object.price}} </div><div>{{object.location}}</div><div> Posted: {{object.created}} </div>
          <a href="{% url 'listing_detail_view' object.pk %}" class="btn btn-default" role="button">Details</a></p>
        </div>
      </div>
    </div>

  {% endfor %}

{% endblock %}
