{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-1 dropdown-button">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        View
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="{% url 'city_list_gallery_view' city_id %}">Gallery View</a></li>
        <li><a href="{% url 'city_list_thumbnail_view' city_id %}">Thumbnail View</a></li>
        <li><a href="{% url 'city_list_list_view' city_id %}">List View</a></li>
      </ul>
    </div>
    <br><br>
  </div>

  <div class="col-sm-1 dropdown-button">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Sort
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="{% url 'city_list_gallery_view' city_id %}?sort=-created">By Date</a></li>
        <li><a href="{% url 'city_list_gallery_view' city_id %}?sort=price">Price: Low/High</a></li>
        <li><a href="{% url 'city_list_gallery_view' city_id %}?sort=-price">Price: High/Low</a></li>
      </ul>
    </div>
    <br><br>
  </div>

</div>


<div class="row">
  {% for object in object_list %}
  <div class="col-sm-6 col-md-4 gallery-box">
    <div class="thumbnail">
      <div class="gallery-image">
        <img class='gallery-image' src="{{ object.photo_url }}" alt="">
      </div>
      <div class="caption">
        <div class="row">
          <div class="col-sm-8">
            <h4 class='listing-name'>{{object.title}}</h4>
          </div>
          <div class="col-sm-4">
            <h5 class='price'>${{object.price}}</h5>
          </div>
        </div>
        <div><em>{{object.location}}</em></div>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <a href="{% url 'listing_detail_view' object.pk %}" class="btn btn-default" role="button">Details</a>
          </div>
          <div class="col-sm-8">
            <div class='posted'> Posted: {{object.created}} </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br><br>
{% endblock %}

{% block extrascript %}
<script>$('.dropdown-toggle').dropdown()</script>

{% endblock %}
