{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>emilyslist</title>
    <link rel="stylesheet" href='{% static "classifieds/css/bootstrap.css" %}' media="screen" title="bootstrap css" charset="utf-8">
    <link rel="stylesheet" href='{% static "classifieds/css/main.css" %}' media="screen" charset="utf-8">
  </head>
  <body>
    <div class="container">
      {% if user.is_authenticated %}
      <a href="{% url 'index_view' %}">Home</a>
      <a href="{% url 'listing_create_view' %}">Create New Listing</a>
      <a href="{% url 'profile_update_view' %}">Update Profile</a>

      <a href="{% url 'logout' %}?next=/">Logout</a>

      {{request.user}}

      {% else %}
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'create_user_view' %}">Create User</a>

      {% endif %}
      <br>
      <br>


      {% block content %}

      <h1>Hello World</h1>

      {% endblock %}
    </div>
  </body>
</html>
